body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* Navegador */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.nav-links a.seguimiento {
    color: #8a3c3c;
    font-weight: 700;
}

.logo img {
    max-height: 60px;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.material-icons {
    font-size: 24px;
    margin-right: 5px;
}

/*cuerpo*/

.slider img {
    width: 100%;

    height: 500px;

}

/* Estilo del formulario de contacto */
.form-contact {
    background-color: #f9f9f9;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-contact h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8a3c3c;
}

.form-contact form {
    display: flex;
    flex-direction: column;
}

.form-contact label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-contact input,
.form-contact textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #e87222;
    border-radius: 5px;
    font-size: 16px;
}

.form-contact input:focus,
.form-contact textarea:focus {
    border-color: #8a3c3c;
    outline: none;
}

.form-contact button {
    background-color: #8a3c3c;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-contact button:hover {
    background-color: #e87222;
}

/* Sección de productos */

.product-section {
    text-align: center;
    padding: 40px 0;
}

.product-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.product-categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.category-link {
    text-decoration: none;
    font-weight: 600;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.product-item {
    text-align: center;
}

.product-item img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-item p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: #333;
}

/* Tipo*/
.type h2 {
    color: #F47C20;
    font-size: 2em;
    margin: 20px 0;
}

.product-type-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.product-type-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    padding: 20px;
    transition: transform 0.3s;
}

.product-type-item img {
    width: 100%;
    border-radius: 10px;
}

.product-type-item:hover {
    transform: translateY(-5px);
}

.product-type-item p {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    color: #333;
}

/* Video */

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

video {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

/*Producto mas comprados (Tabla)*/
.table-container {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-x: auto;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-container table th,
.table-container table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table-container table th {
    background-color: #f47c20;
    color: white;
    font-weight: bold;
}

.table-container table td img {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.table-container table tr:hover {
    background-color: #f1f1f1;
}

.buy-btn {
    background-color: #f47c20;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

.buy-btn:hover {
    background-color: #e66a00;
}

/* Estilo del footer */

.footer {
    background-color: #e7e7e7;
    color: #333;
    padding: 20px 0;

}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #e87222;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #e87222;
}

.payment-methods img {
    max-width: 80px;
    margin-right: 10px;
}

.reclamaciones-icon {
    max-width: 60px;
    margin-top: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    font-size: 14px;
}

/* Grid */

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}

.filters {
    background-color: #f7f7f7; /* Fondo gris claro */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 10px; /* Disminuir margen inferior */
}

.filters h2 {
    font-size: 18px; /* Tamaño del título */
    color: #333; /* Color del texto */
}

.filter {
    margin-top: 15px; /* Margen superior entre filtros */
}

.filter h3 {
    font-size: 16px; /* Tamaño del subtítulo */
    color: #e87222; /* Color del texto del subtítulo */
}

.filter label {
    display: block; /* Mostrar cada opción de filtro en una nueva línea */
    font-size: 14px; /* Tamaño del texto */
    color: #666; /* Color del texto */
    margin-top: 5px; /* Margen superior entre opciones */
}


/* Sección de productos */
.products {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: space-between; /* Espacio entre los elementos */
    margin: 20px 0; /* Espacio superior e inferior */
}

.product {
    flex: 0 1 calc(30% - 15px); /* Tomar un 30% del ancho menos el espacio */
    box-sizing: border-box; /* Incluir padding y border en el ancho total */
    margin-bottom: 20px; /* Espacio inferior entre los productos */
    text-align: center; /* Centrar el texto */
}

.product img {
    width: 80%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.product-title {
    font-size: 16px; /* Tamaño del título del producto */
    font-weight: 600; /* Peso del texto */
    margin-top: 10px; /* Margen superior */
    color: #333; /* Color del texto */
}

.product-price {
    font-size: 14px; /* Tamaño del precio */
    color: #e87222; /* Color del precio */
    margin-top: 5px; /* Margen superior */
}

/* Efecto de zoom en la imagen cuando se hace clic */
.product {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product h4 {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333;
}

.product p {
    font-size: 1.2em;
    color: #e67e22;
}

.add-to-cart {
    background-color: #e87222; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    transition: transform 0.2s ease; /* Efecto de transición para transformaciones */
}

.add-to-cart:hover {
    background-color: #d16a1a; /* Color de fondo al pasar el ratón */
    animation: bounce 0.5s; /* Llama a la animación al hacer clic */
}

/* Definición de la animación bounce */
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.audio {
    display: flex;               /* Habilita flexbox */
    justify-content: center;     /* Centra horizontalmente */
    align-items: center;         /* Centra verticalmente si es necesario */
    margin-top: 20px;           /* Espacio superior (ajusta según necesites) */
}
